In [6]:
import polars as pl
import duckdb as db

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
train=pl.read_csv("../../data/raw/TRAIN.csv")
train

shape: (188_340, 10)
┌──────────┬──────────┬────────────┬───────────────┬───┬─────────┬──────────┬───────┬──────────┐
│ ID       ┆ Store_id ┆ Store_Type ┆ Location_Type ┆ … ┆ Holiday ┆ Discount ┆ Order ┆ Sales    │
│ ---      ┆ ---      ┆ ---        ┆ ---           ┆   ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str      ┆ i64      ┆ str        ┆ str           ┆   ┆ i64     ┆ str      ┆ i64   ┆ f64      │
╞══════════╪══════════╪════════════╪═══════════════╪═══╪═════════╪══════════╪═══════╪══════════╡
│ T1000001 ┆ 1        ┆ S1         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 9     ┆ 7011.84  │
│ T1000002 ┆ 253      ┆ S4         ┆ L2            ┆ … ┆ 1       ┆ Yes      ┆ 60    ┆ 51789.12 │
│ T1000003 ┆ 252      ┆ S3         ┆ L2            ┆ … ┆ 1       ┆ Yes      ┆ 42    ┆ 36868.2  │
│ T1000004 ┆ 251      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 23    ┆ 19715.16 │
│ T1000005 ┆ 250      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 62    ┆ 45614.52 │
│ …        ┆ …        ┆ …          ┆ …             ┆ … ┆ …       ┆ …        ┆ …     ┆ …        │
│ T1188336 ┆ 149      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 51    ┆ 37272.0  │
│ T1188337 ┆ 153      ┆ S4         ┆ L2            ┆ … ┆ 1       ┆ No       ┆ 90    ┆ 54572.64 │
│ T1188338 ┆ 154      ┆ S1         ┆ L3            ┆ … ┆ 1       ┆ No       ┆ 56    ┆ 31624.56 │
│ T1188339 ┆ 155      ┆ S3         ┆ L1            ┆ … ┆ 1       ┆ Yes      ┆ 70    ┆ 49162.41 │
│ T1188340 ┆ 152      ┆ S2         ┆ L1            ┆ … ┆ 1       ┆ No       ┆ 47    ┆ 37977.0  │
└──────────┴──────────┴────────────┴───────────────┴───┴─────────┴──────────┴───────┴──────────┘

In [4]:
train.describe()

shape: (9, 11)
┌────────────┬──────────┬────────────┬───────────┬───┬──────────┬──────────┬───────────┬───────────┐
│ statistic  ┆ ID       ┆ Store_id   ┆ Store_Typ ┆ … ┆ Holiday  ┆ Discount ┆ Order     ┆ Sales     │
│ ---        ┆ ---      ┆ ---        ┆ e         ┆   ┆ ---      ┆ ---      ┆ ---       ┆ ---       │
│ str        ┆ str      ┆ f64        ┆ ---       ┆   ┆ f64      ┆ str      ┆ f64       ┆ f64       │
│            ┆          ┆            ┆ str       ┆   ┆          ┆          ┆           ┆           │
╞════════════╪══════════╪════════════╪═══════════╪═══╪══════════╪══════════╪═══════════╪═══════════╡
│ count      ┆ 188340   ┆ 188340.0   ┆ 188340    ┆ … ┆ 188340.0 ┆ 188340   ┆ 188340.0  ┆ 188340.0  │
│ null_count ┆ 0        ┆ 0.0        ┆ 0         ┆ … ┆ 0.0      ┆ 0        ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null     ┆ 183.0      ┆ null      ┆ … ┆ 0.131783 ┆ null     ┆ 68.205692 ┆ 42784.327 │
│            ┆          ┆            ┆           ┆   ┆          ┆          ┆           ┆ 982       │
│ std        ┆ null     ┆ 105.366308 ┆ null      ┆ … ┆ 0.338256 ┆ null     ┆ 30.467415 ┆ 18456.708 │
│            ┆          ┆            ┆           ┆   ┆          ┆          ┆           ┆ 302       │
│ min        ┆ T1000001 ┆ 1.0        ┆ S1        ┆ … ┆ 0.0      ┆ No       ┆ 0.0       ┆ 0.0       │
│ 25%        ┆ null     ┆ 92.0       ┆ null      ┆ … ┆ 0.0      ┆ null     ┆ 48.0      ┆ 30426.0   │
│ 50%        ┆ null     ┆ 183.0      ┆ null      ┆ … ┆ 0.0      ┆ null     ┆ 63.0      ┆ 39678.0   │
│ 75%        ┆ null     ┆ 274.0      ┆ null      ┆ … ┆ 0.0      ┆ null     ┆ 82.0      ┆ 51909.0   │
│ max        ┆ T1188340 ┆ 365.0      ┆ S4        ┆ … ┆ 1.0      ┆ Yes      ┆ 371.0     ┆ 247215.0  │
└────────────┴──────────┴────────────┴───────────┴───┴──────────┴──────────┴───────────┴───────────┘

In [5]:
train["Store_Type"].value_counts()

shape: (4, 2)
┌────────────┬───────┐
│ Store_Type ┆ count │
│ ---        ┆ ---   │
│ str        ┆ u32   │
╞════════════╪═══════╡
│ S2         ┆ 28896 │
│ S1         ┆ 88752 │
│ S3         ┆ 24768 │
│ S4         ┆ 45924 │
└────────────┴───────┘

In [6]:
train["Region_Code"].value_counts()

shape: (4, 2)
┌─────────────┬───────┐
│ Region_Code ┆ count │
│ ---         ┆ ---   │
│ str         ┆ u32   │
╞═════════════╪═══════╡
│ R2          ┆ 54180 │
│ R1          ┆ 63984 │
│ R3          ┆ 44376 │
│ R4          ┆ 25800 │
└─────────────┴───────┘

In [7]:
train["Location_Type"].value_counts()

shape: (5, 2)
┌───────────────┬───────┐
│ Location_Type ┆ count │
│ ---           ┆ ---   │
│ str           ┆ u32   │
╞═══════════════╪═══════╡
│ L3            ┆ 29928 │
│ L2            ┆ 48504 │
│ L1            ┆ 85140 │
│ L5            ┆ 13932 │
│ L4            ┆ 10836 │
└───────────────┴───────┘

In [7]:
train["Store_id"].value_counts()

shape: (365, 2)
┌──────────┬───────┐
│ Store_id ┆ count │
│ ---      ┆ ---   │
│ i64      ┆ u32   │
╞══════════╪═══════╡
│ 200      ┆ 516   │
│ 223      ┆ 516   │
│ 8        ┆ 516   │
│ 185      ┆ 516   │
│ 126      ┆ 516   │
│ …        ┆ …     │
│ 180      ┆ 516   │
│ 284      ┆ 516   │
│ 50       ┆ 516   │
│ 215      ┆ 516   │
│ 127      ┆ 516   │
└──────────┴───────┘

In [8]:
train.filter(pl.col("Location_Type") == "L5")

shape: (13_932, 10)
┌──────────┬──────────┬────────────┬───────────────┬───┬─────────┬──────────┬───────┬──────────┐
│ ID       ┆ Store_id ┆ Store_Type ┆ Location_Type ┆ … ┆ Holiday ┆ Discount ┆ Order ┆ Sales    │
│ ---      ┆ ---      ┆ ---        ┆ ---           ┆   ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str      ┆ i64      ┆ str        ┆ str           ┆   ┆ i64     ┆ str      ┆ i64   ┆ f64      │
╞══════════╪══════════╪════════════╪═══════════════╪═══╪═════════╪══════════╪═══════╪══════════╡
│ T1000020 ┆ 244      ┆ S2         ┆ L5            ┆ … ┆ 1       ┆ Yes      ┆ 46    ┆ 39193.2  │
│ T1000035 ┆ 263      ┆ S1         ┆ L5            ┆ … ┆ 1       ┆ Yes      ┆ 38    ┆ 32964.75 │
│ T1000047 ┆ 210      ┆ S1         ┆ L5            ┆ … ┆ 1       ┆ Yes      ┆ 49    ┆ 42340.38 │
│ T1000061 ┆ 197      ┆ S2         ┆ L5            ┆ … ┆ 1       ┆ Yes      ┆ 45    ┆ 47752.2  │
│ T1000075 ┆ 226      ┆ S2         ┆ L5            ┆ … ┆ 1       ┆ Yes      ┆ 61    ┆ 52985.88 │
│ …        ┆ …        ┆ …          ┆ …             ┆ … ┆ …       ┆ …        ┆ …     ┆ …        │
│ T1188255 ┆ 210      ┆ S1         ┆ L5            ┆ … ┆ 1       ┆ No       ┆ 41    ┆ 23978.4  │
│ T1188273 ┆ 197      ┆ S2         ┆ L5            ┆ … ┆ 1       ┆ No       ┆ 61    ┆ 44061.78 │
│ T1188293 ┆ 136      ┆ S2         ┆ L5            ┆ … ┆ 1       ┆ No       ┆ 34    ┆ 23115.54 │
│ T1188304 ┆ 344      ┆ S1         ┆ L5            ┆ … ┆ 1       ┆ No       ┆ 53    ┆ 28439.43 │
│ T1188332 ┆ 31       ┆ S1         ┆ L5            ┆ … ┆ 1       ┆ No       ┆ 48    ┆ 27760.08 │
└──────────┴──────────┴────────────┴───────────────┴───┴─────────┴──────────┴───────┴──────────┘

In [9]:
train.filter(pl.col("Date") == "2018-01-01")

shape: (365, 10)
┌──────────┬──────────┬────────────┬───────────────┬───┬─────────┬──────────┬───────┬──────────┐
│ ID       ┆ Store_id ┆ Store_Type ┆ Location_Type ┆ … ┆ Holiday ┆ Discount ┆ Order ┆ Sales    │
│ ---      ┆ ---      ┆ ---        ┆ ---           ┆   ┆ ---     ┆ ---      ┆ ---   ┆ ---      │
│ str      ┆ i64      ┆ str        ┆ str           ┆   ┆ i64     ┆ str      ┆ i64   ┆ f64      │
╞══════════╪══════════╪════════════╪═══════════════╪═══╪═════════╪══════════╪═══════╪══════════╡
│ T1000001 ┆ 1        ┆ S1         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 9     ┆ 7011.84  │
│ T1000002 ┆ 253      ┆ S4         ┆ L2            ┆ … ┆ 1       ┆ Yes      ┆ 60    ┆ 51789.12 │
│ T1000003 ┆ 252      ┆ S3         ┆ L2            ┆ … ┆ 1       ┆ Yes      ┆ 42    ┆ 36868.2  │
│ T1000004 ┆ 251      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 23    ┆ 19715.16 │
│ T1000005 ┆ 250      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 62    ┆ 45614.52 │
│ …        ┆ …        ┆ …          ┆ …             ┆ … ┆ …       ┆ …        ┆ …     ┆ …        │
│ T1000361 ┆ 359      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 55    ┆ 43514.28 │
│ T1000362 ┆ 362      ┆ S1         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 37    ┆ 27770.4  │
│ T1000363 ┆ 363      ┆ S1         ┆ L1            ┆ … ┆ 1       ┆ Yes      ┆ 42    ┆ 29676.24 │
│ T1000364 ┆ 360      ┆ S2         ┆ L1            ┆ … ┆ 1       ┆ Yes      ┆ 28    ┆ 25680.27 │
│ T1000365 ┆ 364      ┆ S2         ┆ L3            ┆ … ┆ 1       ┆ Yes      ┆ 43    ┆ 29538.0  │
└──────────┴──────────┴────────────┴───────────────┴───┴─────────┴──────────┴───────┴──────────┘

In [24]:
db.sql("""
    select  Region_Code,Location_Type, Store_Type, count(*) cnt from train group by Region_Code,Location_Type, Store_Type order by Region_Code,Location_Type, Store_Type
""")

┌─────────────┬───────────────┬────────────┬───────┐
│ Region_Code │ Location_Type │ Store_Type │  cnt  │
│   varchar   │    varchar    │  varchar   │ int64 │
├─────────────┼───────────────┼────────────┼───────┤
│ R1          │ L1            │ S1         │  8772 │
│ R1          │ L1            │ S2         │  1032 │
│ R1          │ L1            │ S3         │  5676 │
│ R1          │ L1            │ S4         │ 10836 │
│ R1          │ L2            │ S1         │   516 │
│ R1          │ L2            │ S3         │  2064 │
│ R1          │ L2            │ S4         │ 17028 │
│ R1          │ L3            │ S1         │  6708 │
│ R1          │ L3            │ S2         │   516 │
│ R1          │ L3            │ S3         │  1548 │
│ ·           │ ·             │ ·          │    ·  │
│ ·           │ ·             │ ·          │    ·  │
│ ·           │ ·             │ ·          │    ·  │
│ R4          │ L1            │ S2         │  1032 │
│ R4          │ L1            │ S3         │   516 │
│ R4          │ L1            │ S4         │   516 │
│ R4          │ L2            │ S1         │  1548 │
│ R4          │ L2            │ S3         │  2580 │
│ R4          │ L2            │ S4         │  2064 │
│ R4          │ L3            │ S1         │   516 │
│ R4          │ L3            │ S2         │  2580 │
│ R4          │ L4            │ S2         │  1032 │
│ R4          │ L5            │ S2         │  2064 │
├─────────────┴───────────────┴────────────┴───────┤
│ 50 rows (20 shown)                     4 columns │
└──────────────────────────────────────────────────┘

In [7]:
db.sql("""
select distinct Date, Holiday from train
 """)
db.sql("""
select distinct Date from train
 """)

┌────────────┬─────────┐
│    Date    │ Holiday │
│  varchar   │  int64  │
├────────────┼─────────┤
│ 2018-02-24 │       0 │
│ 2018-04-05 │       0 │
│ 2018-06-08 │       0 │
│ 2018-07-11 │       0 │
│ 2018-08-10 │       0 │
│ 2018-11-17 │       0 │
│ 2018-12-19 │       0 │
│ 2019-01-18 │       0 │
│ 2019-02-21 │       0 │
│ 2019-05-31 │       1 │
│     ·      │       · │
│     ·      │       · │
│     ·      │       · │
│ 2018-11-11 │       0 │
│ 2019-02-17 │       0 │
│ 2019-04-23 │       0 │
│ 2018-05-16 │       0 │
│ 2018-06-18 │       0 │
│ 2018-02-21 │       0 │
│ 2018-07-08 │       0 │
│ 2018-06-28 │       0 │
│ 2019-03-13 │       0 │
│ 2018-09-06 │       0 │
├────────────┴─────────┤
│ 516 rows (20 shown)  │
└──────────────────────┘

┌────────────┐
│    Date    │
│  varchar   │
├────────────┤
│ 2018-04-08 │
│ 2018-06-12 │
│ 2018-07-14 │
│ 2018-08-14 │
│ 2018-10-19 │
│ 2018-10-20 │
│ 2018-12-21 │
│ 2018-12-22 │
│ 2019-03-30 │
│ 2019-04-30 │
│     ·      │
│     ·      │
│     ·      │
│ 2018-07-09 │
│ 2018-09-11 │
│ 2018-12-16 │
│ 2018-02-22 │
│ 2018-02-24 │
│ 2018-11-06 │
│ 2018-01-28 │
│ 2018-11-30 │
│ 2018-07-16 │
│ 2018-04-04 │
├────────────┤
│  516 rows  │
│ (20 shown) │
└────────────┘