In [2]:
import polars as pl
import pandas as pd
import duckdb as db

In [25]:
df=pl.read_parquet('../../data/processed/train_enhanced.parquet')
df=df.with_columns(pl.col("Discount").str.replace("Yes", "1").str.replace("No", "0").cast(pl.Int8))
df.head()

shape: (5, 20)
┌──────────┬──────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ ID       ┆ Store_id ┆ Store_Type ┆ Location_ ┆ … ┆ log_Sales ┆ log_Order ┆ sqrt_Sale ┆ sqrt_Orde │
│ ---      ┆ ---      ┆ ---        ┆ Type      ┆   ┆ ---       ┆ ---       ┆ s         ┆ r         │
│ str      ┆ i64      ┆ str        ┆ ---       ┆   ┆ f64       ┆ f64       ┆ ---       ┆ ---       │
│          ┆          ┆            ┆ str       ┆   ┆           ┆           ┆ f64       ┆ f64       │
╞══════════╪══════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ T1000001 ┆ 1        ┆ S1         ┆ L3        ┆ … ┆ 8.855498  ┆ 2.302585  ┆ 83.73673  ┆ 3.0       │
│ T1000002 ┆ 253      ┆ S4         ┆ L2        ┆ … ┆ 10.854955 ┆ 4.110874  ┆ 227.57223 ┆ 7.745967  │
│ T1000003 ┆ 252      ┆ S3         ┆ L2        ┆ … ┆ 10.515132 ┆ 3.7612    ┆ 192.01093 ┆ 6.480741  │
│          ┆          ┆            ┆           ┆   ┆           ┆           ┆ 7         ┆           │
│ T1000004 ┆ 251      ┆ S2         ┆ L3        ┆ … ┆ 9.889194  ┆ 3.178054  ┆ 140.41068 ┆ 4.795832  │
│          ┆          ┆            ┆           ┆   ┆           ┆           ┆ 3         ┆           │
│ T1000005 ┆ 250      ┆ S2         ┆ L3        ┆ … ┆ 10.728003 ┆ 4.143135  ┆ 213.57556 ┆ 7.874008  │
└──────────┴──────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [10]:
holidays = db.sql("""
    select distinct Date, Holiday from df
 """).to_df()
holidays.head()

        Date  Holiday
0 2019-01-23        0
1 2019-01-25        0
2 2019-02-09        0
3 2019-02-21        0
4 2019-02-25        0

In [11]:
holidays.to_csv('../../data/processed/holidays.csv', index=False)

In [21]:
db.sql("""
    select distinct Store_Type,Date, Discount from df order by  Date
""")

┌────────────┬─────────────────────┬──────────┐
│ Store_Type │        Date         │ Discount │
│  varchar   │    timestamp_ns     │ varchar  │
├────────────┼─────────────────────┼──────────┤
│ S1         │ 2018-01-01 00:00:00 │ Yes      │
│ S3         │ 2018-01-01 00:00:00 │ Yes      │
│ S2         │ 2018-01-01 00:00:00 │ Yes      │
│ S4         │ 2018-01-01 00:00:00 │ Yes      │
│ S2         │ 2018-01-02 00:00:00 │ Yes      │
│ S3         │ 2018-01-02 00:00:00 │ Yes      │
│ S4         │ 2018-01-02 00:00:00 │ Yes      │
│ S1         │ 2018-01-02 00:00:00 │ Yes      │
│ S2         │ 2018-01-03 00:00:00 │ Yes      │
│ S1         │ 2018-01-03 00:00:00 │ Yes      │
│ ·          │          ·          │ ·        │
│ ·          │          ·          │ ·        │
│ ·          │          ·          │ ·        │
│ S1         │ 2019-05-30 00:00:00 │ No       │
│ S1         │ 2019-05-30 00:00:00 │ Yes      │
│ S1         │ 2019-05-31 00:00:00 │ Yes      │
│ S4         │ 2019-05-31 00:00:00 │ Yes      │
│ S1         │ 2019-05-31 00:00:00 │ No       │
│ S2         │ 2019-05-31 00:00:00 │ Yes      │
│ S2         │ 2019-05-31 00:00:00 │ No       │
│ S4         │ 2019-05-31 00:00:00 │ No       │
│ S3         │ 2019-05-31 00:00:00 │ No       │
│ S3         │ 2019-05-31 00:00:00 │ Yes      │
├────────────┴─────────────────────┴──────────┤
│ 3740 rows (20 shown)              3 columns │
└─────────────────────────────────────────────┘

In [ ]:
db.sql("""
    select distinct Store_id,Date, Discount from df where Store_id = 1 
""")

In [34]:
train_store_type_agg =db.sql("""
select 
        Date
        , Store_Type
        , cast(sum(Sales) as int) as Total_Sales
        , cast(avg(Sales) as int) as Avg_Sales
        , sum("Order") as Total_Orders
        , cast(avg("Order") as int) as Avg_Orders
        , count(distinct Store_id) as Num_Stores
        , max(Holiday) as Holiday
        , sum(Discount) as Total_Discounts
    from df
        group by 
       Date
       , Store_Type
    order by Date
""").pl()
train_store_type_agg.head()

shape: (5, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ Date       ┆ Store_Typ ┆ Total_Sal ┆ Avg_Sales ┆ … ┆ Avg_Order ┆ Num_Store ┆ Holiday ┆ Total_Dis │
│ ---        ┆ e         ┆ es        ┆ ---       ┆   ┆ s         ┆ s         ┆ ---     ┆ counts    │
│ datetime[n ┆ ---       ┆ ---       ┆ i32       ┆   ┆ ---       ┆ ---       ┆ i64     ┆ ---       │
│ s]         ┆ str       ┆ i32       ┆           ┆   ┆ i32       ┆ i64       ┆         ┆ decimal[3 │
│            ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆ 8,0]      │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ 2018-01-01 ┆ S4        ┆ 3728611   ┆ 41895     ┆ … ┆ 54        ┆ 89        ┆ 1       ┆ 89        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ S1        ┆ 7292028   ┆ 42396     ┆ … ┆ 55        ┆ 172       ┆ 1       ┆ 172       │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ S3        ┆ 1944327   ┆ 40507     ┆ … ┆ 51        ┆ 48        ┆ 1       ┆ 48        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ S2        ┆ 2380519   ┆ 42509     ┆ … ┆ 54        ┆ 56        ┆ 1       ┆ 56        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-02 ┆ S2        ┆ 2023833   ┆ 36140     ┆ … ┆ 43        ┆ 56        ┆ 0       ┆ 56        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

In [35]:
train_store_type_agg.write_parquet('../../data/processed/train_store_type_agg.parquet')

In [ ]:
train_region_code_agg =db.sql("""
    select 
        Date
        , Region_Code
        , cast(sum(Sales) as int) as Total_Sales
        , cast(avg(Sales) as int) as Avg_Sales
        , sum("Order") as Total_Orders
        , cast(avg("Order") as int) as Avg_Orders
        , count(distinct Store_id) as Num_Stores
        , max(Holiday) as Holiday
        , sum(Discount) as Total_Discounts
    from df
        group by 
       Date
       , Region_Code
    order by Date
""").pl()
train_region_code_agg.head()

shape: (5, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ Date       ┆ Region_Co ┆ Total_Sal ┆ Avg_Sales ┆ … ┆ Avg_Order ┆ Num_Store ┆ Holiday ┆ Total_Dis │
│ ---        ┆ de        ┆ es        ┆ ---       ┆   ┆ s         ┆ s         ┆ ---     ┆ counts    │
│ datetime[n ┆ ---       ┆ ---       ┆ i32       ┆   ┆ ---       ┆ ---       ┆ i64     ┆ ---       │
│ s]         ┆ str       ┆ i32       ┆           ┆   ┆ i32       ┆ i64       ┆         ┆ decimal[3 │
│            ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆ 8,0]      │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ 2018-01-01 ┆ R4        ┆ 2286812   ┆ 45736     ┆ … ┆ 58        ┆ 50        ┆ 1       ┆ 50        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ R2        ┆ 4436859   ┆ 42256     ┆ … ┆ 54        ┆ 105       ┆ 1       ┆ 105       │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ R1        ┆ 5094374   ┆ 41084     ┆ … ┆ 52        ┆ 124       ┆ 1       ┆ 124       │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ R3        ┆ 3527439   ┆ 41017     ┆ … ┆ 53        ┆ 86        ┆ 1       ┆ 86        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-02 ┆ R3        ┆ 4622676   ┆ 53752     ┆ … ┆ 66        ┆ 86        ┆ 0       ┆ 86        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

In [37]:
train_region_code_agg.write_parquet('../../data/processed/train_region_code_agg.parquet')

In [ ]:
train_location_type_agg =db.sql("""
    select 
        Date
        , Location_Type
        , cast(sum(Sales) as int) as Total_Sales
        , cast(avg(Sales) as int) as Avg_Sales
        , sum("Order") as Total_Orders
        , cast(avg("Order") as int) as Avg_Orders
        , count(distinct Store_id) as Num_Stores
        , max(Holiday) as Holiday
        , sum(Discount) as Total_Discounts
    from df
        group by 
       Date
       , Location_Type
    order by Date
""").pl()
train_location_type_agg.head()

shape: (5, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ Date       ┆ Location_ ┆ Total_Sal ┆ Avg_Sales ┆ … ┆ Avg_Order ┆ Num_Store ┆ Holiday ┆ Total_Dis │
│ ---        ┆ Type      ┆ es        ┆ ---       ┆   ┆ s         ┆ s         ┆ ---     ┆ counts    │
│ datetime[n ┆ ---       ┆ ---       ┆ i32       ┆   ┆ ---       ┆ ---       ┆ i64     ┆ ---       │
│ s]         ┆ str       ┆ i32       ┆           ┆   ┆ i32       ┆ i64       ┆         ┆ decimal[3 │
│            ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆ 8,0]      │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ 2018-01-01 ┆ L5        ┆ 1170560   ┆ 43354     ┆ … ┆ 53        ┆ 27        ┆ 1       ┆ 27        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L3        ┆ 2460245   ┆ 42418     ┆ … ┆ 55        ┆ 58        ┆ 1       ┆ 58        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L2        ┆ 4117915   ┆ 43808     ┆ … ┆ 56        ┆ 94        ┆ 1       ┆ 94        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L1        ┆ 6754876   ┆ 40939     ┆ … ┆ 52        ┆ 165       ┆ 1       ┆ 165       │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L4        ┆ 841889    ┆ 40090     ┆ … ┆ 52        ┆ 21        ┆ 1       ┆ 21        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

In [39]:
train_location_type_agg.write_parquet('../../data/processed/train_location_type_agg.parquet')

In [ ]:
train_agg =db.sql("""
    select 
        Date
        , cast(sum(Sales) as int) as Total_Sales
        , cast(avg(Sales) as int) as Avg_Sales
        , sum("Order") as Total_Orders
        , cast(avg("Order") as int) as Avg_Orders
        , count(distinct Store_id) as Num_Stores
        , max(Holiday) as Holiday
        , sum(Discount) as Total_Discounts
    from df
        group by 
       Date
    order by Date
""").pl()
train_location_type_agg

shape: (2_580, 9)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ Date       ┆ Location_ ┆ Total_Sal ┆ Avg_Sales ┆ … ┆ Avg_Order ┆ Num_Store ┆ Holiday ┆ Total_Dis │
│ ---        ┆ Type      ┆ es        ┆ ---       ┆   ┆ s         ┆ s         ┆ ---     ┆ counts    │
│ datetime[n ┆ ---       ┆ ---       ┆ i32       ┆   ┆ ---       ┆ ---       ┆ i64     ┆ ---       │
│ s]         ┆ str       ┆ i32       ┆           ┆   ┆ i32       ┆ i64       ┆         ┆ decimal[3 │
│            ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆ 8,0]      │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ 2018-01-01 ┆ L5        ┆ 1170560   ┆ 43354     ┆ … ┆ 53        ┆ 27        ┆ 1       ┆ 27        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L3        ┆ 2460245   ┆ 42418     ┆ … ┆ 55        ┆ 58        ┆ 1       ┆ 58        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L2        ┆ 4117915   ┆ 43808     ┆ … ┆ 56        ┆ 94        ┆ 1       ┆ 94        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L1        ┆ 6754876   ┆ 40939     ┆ … ┆ 52        ┆ 165       ┆ 1       ┆ 165       │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2018-01-01 ┆ L4        ┆ 841889    ┆ 40090     ┆ … ┆ 52        ┆ 21        ┆ 1       ┆ 21        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …       ┆ …         │
│ 2019-05-31 ┆ L5        ┆ 642061    ┆ 23780     ┆ … ┆ 37        ┆ 27        ┆ 1       ┆ 1         │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2019-05-31 ┆ L3        ┆ 1877677   ┆ 32374     ┆ … ┆ 50        ┆ 58        ┆ 1       ┆ 5         │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2019-05-31 ┆ L1        ┆ 6926767   ┆ 41980     ┆ … ┆ 62        ┆ 165       ┆ 1       ┆ 13        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2019-05-31 ┆ L2        ┆ 5582392   ┆ 59387     ┆ … ┆ 91        ┆ 94        ┆ 1       ┆ 20        │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
│ 2019-05-31 ┆ L4        ┆ 572928    ┆ 27282     ┆ … ┆ 43        ┆ 21        ┆ 1       ┆ 0         │
│ 00:00:00   ┆           ┆           ┆           ┆   ┆           ┆           ┆         ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘